*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:rgb(117, 255, 117);
}


#container{
    background-color:rgb(34, 66, 68);
    border:2px solid white;
    height:300px;
    width: 750px;
    margin: auto;
    text-align:center;
}

h1{
    color: white;
}

p{
    color:whitesmoke;
}

label{
    color:yellow;
}